html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
[data-bs-toggle="collapse"] .bi-chevron-down {
    transition: transform 0.3s ease-in-out;
}

[data-bs-toggle="collapse"][aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
}

[data-bs-toggle="collapse"][aria-expanded="false"] .bi-chevron-down {
    transform: rotate(0deg);
}

.border-none.btn:focus, .border-none.btn:active, .border-none.btn:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}
