 
 @{
    Layout = "_BaseLayout";
}


@if(!string.IsNullOrEmpty(ViewBag?.Error) ){

    <h6> @ViewBag?.Error </h6>
}

<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="card shadow p-4" style="width: 380px; border-radius: 12px;">

        <h3 class="text-center mb-4">Login</h3>

        <form asp-controller="Auth" asp-action="Login" method="post">

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input name="email" type="email" class="form-control" placeholder="Enter your email" required />
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input name="password" type="password" class="form-control" placeholder="Enter your password" required />
            </div>

            <!-- Submit Button -->
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>

    </div>
</div>
